{
  "extends": "next",
  "rules": {
        "import/no-anonymous-default-export": "off",
"react/display-name": "off",
"@next/next/no-img-element": "off",
"jsx-a11y/alt-text": "off",
"react/no-unescaped-entities": "off",
  }
}
