name: Deploy to DigitalOcean Droplet
'on':
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Clone from Git REPO
        uses: appleboy/ssh-action@master
        with:
          host: ${{secrets.HOST}}
          username: ${{secrets.USERNAME}}
          key: ${{secrets.SSHKEY}}
          passphrase: ${{secrets.PASSPHRASE}}
          script: |
           cd dockerized-sites/Ethical-Wiki-Website
           git pull
      - name: Build Docker Image
        uses: appleboy/ssh-action@master
        with:
          host: ${{secrets.HOST}}
          username: ${{secrets.USERNAME}}
          key: ${{secrets.SSHKEY}}
          passphrase: ${{secrets.PASSPHRASE}}
          script: |
           cd dockerized-sites/Ethical-Wiki-Website
           docker build . -t ethical-wiki-website
           docker stop ethical-wiki-website
           docker rm ethical-wiki-website
           docker-compose up -d ethical-wiki-website
           docker exec nginx-proxy nginx -s reload
      
      

